/*----------------CONTAINERS----------------*/
.top-container{
    background-color: #1c2b2d;
    position: relative;
    padding-top: 100px;
    margin: 0px;
}
.top-text{
    background-color: #f05454;
    padding: 10px;
    width: 25%;
    margin: 0 auto 0 auto;
}

.middle-container{
    background-color:#f05454;
    margin: 100px;
    margin-top: 0px;
    padding: 20px;
}
.bottom-container{
    background-color:  #af2d2d;
    margin: 20px;
    padding: 20px;
}
.skill-row{
    width: 40%; 
    height: 30%;
    padding: 20px;
    display: inline-block;
    text-align: left;
    line-height: 1.5;
}

/*----------------IMAGES----------------*/
.topcloud{
    position: absolute;
    right: 500px;
    top: 50px;
}
.bottomcloud{
    position: absolute;
    left: 500px;
    bottom: 300px;
}
.mountain{
    margin: 0px;
    position: relative;
    bottom: 0px;
}
.cplusplus{
    float: left;
    height: 25%;
    width: 25%;
    margin-right: 30px;
}
.java{
    float: left;
    height: 25%;
    width: 25%;
    margin-right: 30px;
    margin-bottom: 30px;
}
.python{
    float: left;
    height: 25%;
    width: 25%;
    margin-right: 30px;
    margin-bottom: 10px;
}
.webdev{
    float: left;
    height: 25%;
    width: 25%;
    margin-right: 30px;
    margin-bottom: 30px;
}

/*----------------TEXT----------------*/
body {
    background-color:#1c2b2d;
    text-align: center;
    
}
hr{
    background-color: #f05454;
    border-color: #1c2b2d;
    border-style: dotted none none;
    border-width: 15px;
    width: 80%;
    margin: 40px auto 40px auto;
}
a{
    color: #1c2b2d;
    font-size: 1.25rem;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    display: inline;
}
    p{
        color: #1c2b2d;
        font-size: 1.25rem;
        padding: 10px;
        font-family: 'Lato', sans-serif;
    }
        h1{
            color: #214252;
            font-size: 5.625rem;
            margin-top: 0;
            font-family: 'Lato', sans-serif;
            display: inline;
        }
            h2{
                color: #214252;
                font-size: 1.875rem; 
                margin-top: 0;
                font-family: 'Montserrat', sans-serif;
                
            }
                h3{
                    color: #214252;
                    font-size: 1.5625rem;
                    margin-top: 0;
                    font-family: 'Montserrat', sans-serif;
                    
                }


